<p-tabView>
  <p-tabPanel header="Tab A" leftIcon="fa-calendar">
    <p-fieldset legend="Grupo A-1" [toggleable]="true">

      <div class="ui-g formSystem">
        <div class="ui-g-6">
          <label for="inputName">Nombres</label>
          <input id="inputName" type="text" size="30" pInputText [(ngModel)]="name">
        </div>
        <div class="ui-g-6">
          <label for="inputSurname">Apellidos</label>
          <input id="inputSurname" type="text" size="30" pInputText [(ngModel)]="surname">
        </div>
      </div>

      <div class="ui-g formSystem">
        <div class="ui-g-6">
          <label for="inputEmail">Corre Electrónico</label>
          <input id="inputEmail" type="text" size="30" pInputText [(ngModel)]="email">
        </div>
        <div class="ui-g-6">
          <label for="inputSkype">Skype</label>
          <input id="inputSkype" type="text" size="30" pInputText [(ngModel)]="skype">
        </div>
      </div>

      <div class="ui-g formSystem">
        <div class="ui-g-6">
          <label for="inputFacebook">Facebook</label>
          <input id="inputFacebook" type="text" size="30" pInputText [(ngModel)]="facebook">
        </div>
        <div class="ui-g-6">
          <label for="inputWebSite">Sitio Web</label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">www.</span>
            <input id="inputWebSite" type="text" pInputText placeholder="Website">
          </div>
        </div>
      </div>

    </p-fieldset>
    <p-fieldset legend="Grupo B-1" [toggleable]="true">

      <div class="ui-g formSystem">
        <div class="ui-g-4">
          <label for="inputSalary">Salario</label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input id="inputSalary" type="text" pInputText placeholder="Salario">
          </div>
        </div>
        <div class="ui-g-4">
          <label for="inputOtherIncome">Otros Ingresos</label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input id="inputOtherIncome" type="text" pInputText placeholder="Otros Ingresos">
          </div>
        </div>
        <div class="ui-g-4">
          <label for="inputExpenses">Gastos</label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input id="inputExpenses" type="text" pInputText placeholder="Gastos">
          </div>
        </div>
      </div>

    </p-fieldset>
  </p-tabPanel>


  <p-tabPanel header="Tab B" leftIcon="fa-print">
    Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the
    young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark
    side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the
    local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood
    in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business.
    With Fanucci gone, Vito's communal stature grows.
  </p-tabPanel>
  <p-tabPanel header="Tab C" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">
    After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for
    this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin
    Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would
    one day be completely legitimate.
  </p-tabPanel>

  <button pButton type="button" (click)="count()" label="{{numberClick}}" class="ui-button-success"></button>
  <button pButton type="button" (click)="addMessageFromSpecificModuleSuccess()" label="Add Success Message from SubModule growl" class="ui-button-success"></button>
</p-tabView>

